:root {
    --color-primary: #009e52;
    --color-neutral: #e4e7ec;
    --font-size-0: 16px;
    --padding-0: .25rem;
    --padding-1: .5rem;
    --padding-2: 0.75rem;
    --padding-3: 1rem;
}

html {
    font-size: var(--font-size-0);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0;
    padding: 0;
}

.container>section {
    padding: 50px 100px;
}

form {
    border: 1px solid grey;
    padding: 20px 10px;
}

input[type="submit"],
button {
    padding: var(--padding-1) var(--padding-2);
    border: 0;
    border-radius: 7%;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
    opacity: .8;
}

input[type="submit"].submit-button,
button.submit-button {
    background-color: var(--color-primary);
    color: #fff;
}

/* Utils */
.d-inline {
    display: inline-block;
}